.about {
  /* background: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%); */
  background-color: #eee;
  padding: 10%;
}

.aboutdiv {
  text-align: center;
}

.aboutheading {
  font-size: 2.5rem;
  margin-left: -25px;
}

.aboutpara {
  font-size: 1.1rem;
  width: 60%;
  margin-left: 17%;
}

@media (max-width:700px) {
  .aboutpara {
    width: 100%;
    margin-left: 3%;
  }
}
