.landing {
  background-image: url("../../assets/portfolio.jpg");
  background-size: 100% 100%;
  padding: 13% 22% 20.5% 22%;
  background-repeat: no-repeat;
}

.heading {
  color: white;
  font-size: 5rem;
  margin-left: 16%;
  margin-top: -5%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.intro {
  color: white;
  font-size: 1.2rem;
  margin-left: 10%;
  margin-top: -5%;
  padding: 40px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.morebtn {
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 12px 30px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

@media (max-width:700px) {

  .landing{
    padding: 50% 15% 60% 10%;
  }

  .heading {
    font-size: 1.2rem;
    margin-right: 5%;
    margin-top: 5%;
  }

  .intro {
    font-size: 0.8rem;
    margin-left: -2%;
    display: block;
    /* overflow: visible; */
    white-space: normal;
    /* padding: 10px; */
     width: 130%;
  }
}
