.skillBody {
  background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("https://www.helpscout.com/images/blog/2018/feb/customer-service-skills.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 7%;
}

.skillhandler {
  position: relative;
  left:10%;

  margin-top: 20px;
  width: 40%;
  height: 2%;

  background: #E4E9FD;
}

.proReact {
  margin-left: 12.5%;
  margin-top: 22px;
}

.skilltext {
  opacity: 0.1;
  margin-bottom: 0;
  font-size: 0.6rem;
}

.skillname {
  /* margin: 14px 0 0 50%; */
  position: relative;
  top: 14px;
  margin-bottom: 15px;
  white-space: nowrap;
  font-weight: bold;
  /* margin-top: 20px; */
  /* margin-left: auto ; */
}

.proReact {
  /* transition: 1.4s ease-in-out; */
  /* background-color: black!important; */
}

.progress-bar {
  background-color: #A683E3!important;
  border-radius: 18px;
}

/* .skill1 {
  width: 80%;
  background-color: #A683E3;
}

.skill2 {
  width: 75%;
  background-color: #A683E3;
}

.skill3 {
  width: 65%;
  background-color: #A683E3;
}

.skill4 {
  width: 70%;
  background-color: #A683E3;
}

.skill5 {
  width: 65%;
  background-color: #A683E3;
} */

.CircularProgressbar {
  width: 40%;
}

@media (max-width:800px) {
  .skillname {
    left: 10%;
  }
}
