.App {
  /* text-align: center; */
  /* background-image: url("./assets/portfolio.jpg");
  background-size: 100% 100%;
  padding: 22%;
  background-repeat: no-repeat; */
}

@media (max-width:700px) {
  .App {
    /* padding: 30%; */
  }
}
